# Задание

Пояснение к формату: login — логин асессора; uid — id асессора (user id); docid — id оцениваемого документа (document id); jud — оценка асессора (judgement); cjud — правильная оценка (correct judgement); разделитель — табуляция \t.

Оценки могут принимать значение [0, 1], т.е. задание, которое сделали асессоры, имеет бинарную шкалу.

Используя данные об оценках, установите, какие асессоры хуже всего справились с заданием. На какие показатели вы ориентировались и какие метрики вы использовали для ответа на этот вопрос? Можно ли предложить какие-то новые метрики для подсчета качества асессоров с учетом природы оценок у этого бинарного задания?

In [6]:
import pandas as pd

In [7]:
asessors = pd.read_csv('data2.csv', sep='\t')
asessors.head(10)

         login  uid  docid  jud  cjud
0  assessor158  158      0    0     0
1  assessor238  238      0    0     0
2  assessor488  488      0    0     0
3  assessor136  136      0    0     0
4  assessor300  300      0    0     0
5  assessor123  123      1    1     1
6  assessor491  491      1    0     1
7  assessor409  409      1    1     1
8  assessor396  396      1    1     1
9  assessor295  295      1    1     1

Проверим данные на наличие пропусков

In [8]:
asessors.docid.value_counts().nunique()

1

Каждая задача встречается по 5 раз

In [9]:
asessors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   login   250000 non-null  object
 1   uid     250000 non-null  int64
 2   docid   250000 non-null  int64
 3   jud     250000 non-null  int64
 4   cjud    250000 non-null  int64
dtypes: int64(4), object(1)
memory usage: 9.5+ MB

Добавим столбец показывающий правильный ли ответ дал асессор

In [10]:
def answer(series_1,series_2):
    if series_1 == series_2:
        return 1
    else:
        return 0

In [11]:
asessors['answer'] = asessors.apply(lambda x: answer(x.jud, x.cjud), axis=1)

посмотрим среднее значение по ответам для каждого пользователя

In [12]:
asessors.groupby('uid').answer.mean().sort_values()

uid
56     0.425791
3      0.460094
118    0.475703
390    0.480583
234    0.484848
         ...
191    0.921488
63     0.921760
184    0.922886
545    0.923423
296    0.923810
Name: answer, Length: 600, dtype: float64

Хуже всех справился assessor56

In [13]:
asessors.groupby('docid').answer.mean().sort_values()

docid
34709    0.0
41326    0.0
2906     0.0
9457     0.0
12839    0.2
        ...
23439    1.0
23438    1.0
23435    1.0
23428    1.0
49999    1.0
Name: answer, Length: 50000, dtype: float64

Есть в таблице пара вопросов, на которые ни разу не отвечали правильно, возможно стоит проверить их корректность